
<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand waves-effect waves-dark" href="/"><i class="large material-icons">track_changes</i> <strong>Sistema de Facturacion</strong></a>
    </div>
</nav>

<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu waves-effect waves-dark titleNav" href="#"><i class="fa fa-dashboard"></i> Módulo Procesos</a>
                <hr />
            </li>
            <hr />
            <li>
                <a href="#" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> @Html.ActionLink("Entrada de Mercancía", "StockView", "Stock")</a>
            </li>
            <li>
                <a href="#" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i> @Html.ActionLink("Facturación", "FacturaView", "Facturacion")</a>
            </li>
            <hr />
            <li>
                <a class="active-menu waves-effect waves-dark titleNav" href="#"><i class="fa fa-dashboard"></i> Módulo Consultas</a>
                <hr />
            </li>
        </ul>

    </div>

</nav>