@model C_Datos.TProducto

<!-- Delete Modal HTML -->
<h3>¿Está seguro de que desea eliminar estos registros?</h3>
<div class="display-label" style="display:none;">
    @Html.DisplayNameFor(model => model.Id_Producto)
</div>

<div class="display-label ">
    <label style="font-family:'Bookman Old Style';">Nombre</label>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Nombre)
</div>
<div class="display-label ">
    <label style="font-family:'Bookman Old Style';">Precio</label>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Precio)
</div>
<p>
    <br />
    @*@Html.HiddenFor(model => model.Id_Producto)*@
    <input type="submit" value="Eliminar" id="@Model.Id_Producto" onclick="Delete(this.id)" class="btn btn-danger" />
</p>

